html,
body {
    background-color: whitesmoke;
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}

.container {
  max-width: 940px;
  margin: 0 auto;
  padding: 0;
}
/*
@media (max-width: 740px) {
  ul li {
    width: 100%;
  }
    .container ul li {
        text-align: center;
    }
}*/
/*
@media (max-width: 500px) {
  ul li {
    width: 100%;
  }
    ul{
        text-align: center;
    }
}*/
/* Header */

.header {
  background-color: #7098DA;
}

.header ul {
  list-style: none;
  text-align: left;
  margin: 0;
  padding: 0;
}

img {
    position: relative;
    height: 30px;
}

.mySlides {
    display: none;
    position: inherit;
    height: 270px;
    margin-top: 5%;
    padding-left: 350px;
    padding-right: 350px;
}

.navbar-default{
  background-color: #7098DA;
}

a {
    color: white !important;
}
/* Jumbotron */

.jumbotron {
  background-color: whitesmoke;
  background-size: cover;
  height: 500px;
  text-align: center;
  margin-bottom: 50px;
}

.jumbotron h1 {
  color: #FFD480;
  font-weight: 600;
}
/* Supporting */

.supporting {
  text-align: center;
  padding: 60px 30px 80px;
}

.supporting h2 {
  color: #333;
  font-size: 30px;
  margin-top: 0;
}

.supporting p {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  min-height: 80px;
}

.btn {
  font-size: 16px;
  border-radius: 0px;
  margin: 20px auto 60px;
  padding: 10px 20px;
  color: #30627E;
  width: 200px;
  border: 1px solid #30627E;
  text-transform: uppercase;
}
/* Footer */

.footer {
    color: #fff;
    background-color: #7098DA;
    padding: 20px;
    position: absolute;
    bottom : 0px;
    width: 100%;
}

.copy {
  padding-top: 10px;
}

a {
    color:white
}

.form input{
    width:50%;
    display: block;
    margin: 8px auto;
    padding: 12px 20px;
    text-align: center;
    color:white;
}

.form button{
    width:50%;
    display: block;
    margin: 8px auto;
    padding: 12px 20px;
    background-color: #fafcf8;
    color: #e52364;
    border-radius: 4px;
    box-sizing: border-box;
    border:none;
    border-bottom: 3px solid #30627E; 
}

.row {
    margin-top: -5%;
}

.button3 {
    background-color: #7098DA; /* Green */
    border: none;
    color: white;
    margin-top: 5%;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 8px;
}

input[type="text"]{
    background-color: #fafcf8; 
    color:#30627E;
    border-radius: 4px;
    border:none;
    box-sizing: border-box;
    border-bottom: 3px solid #30627E;   
}

input::placeholder{
    color:#30627E;
}

input[type="password"]{
    background-color: #fafcf8;
    color:#30627E;
    border-radius: 4px;
    border:none;
    box-sizing: border-box;
    border-bottom: 3px solid #30627E;
}

.headercontainer {
    width:50%;
    text-align: center;
    margin: 8px auto;
    padding: 6px 0px;
}




